@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
html,
body {
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  border: none;
  padding: 0;
  background-repeat: round;
  height: 100%;
  width: 100%;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}
.titulo {
  margin-top: 1px;
  margin-bottom: 50px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 36px;
  align-items: center;
  text-align: center;
}
.registrar {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 20px;
  align-items: center;
  text-decoration-line: underline;
  margin-bottom: 10%;
  color: #0000009f;
}

.icon {
  opacity: 0.4;
}
.button {
  display: flex;
  margin: 10px auto;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  background-color: #D6D6D6;
  border-color: #78696973;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 189px;
  height: 51px;
  flex-direction: column;
  margin-top: 30px;
}
.form {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 614px;
  height: 701px;
}
.logo {
  padding-top: 20px;
  max-width: 100%;
  width: 230px;
  height: 235px;
  left: 602px;
  top: 188px;
}
input {
  background: #c1d0d6;
  width: 322px;
  height: 38px;
  border: none;
  border-bottom: solid 1px #afafaf;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 5%;
}
.RM22 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #00000069;
  padding-top: 43px;
}