@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
body {
  margin: 0;
  border: none;
  padding: 0;
  background-repeat: round;
  height: 100%;
  background-color: #ffff;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url(../assets/img/backgroundhome.jpg);
  overflow-x: clip;
}
/*----------- DICA --------------
    Nem toda tag precisa ter classe pra ser estilizada, muitas vezes será interessante estilizar a tag em si
    e replicar esse estilo pra todas tags iguais do que add classe em todas tags do tipo e replicar o mesmo código
    css em mais de uma classe
*/
.cabeçalho {
  display: flex;
  flex-direction: column;
  position: absolute;
  Gap: 10px;
  Padding: 10px , 10px;
  right: 0;
  top: 0;
}

.cabeçalho-imagem {
  padding-left: 280px;
  width: 100px;  
  position: relative;
  /* position: absolute; Não precisamos dele alinhado a direita nesse caso (visão de pc)
  Possivelmente em caso de celular ele irá para a direita e ficará contido dentro do menu (apenas ideia)*/
}
.menu-icon {
  padding-left: 290px;
  margin-top: 20px;
  position: relative;

}
.cabeçalho-item {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}
#menu {
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 12px;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-color: white;
}
#menu > button, 

#btn-menu-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  Gap: 10px;
  Padding: 10px , 10px;
  right: 10px;
  top: 100px;
  height: 80px;
  width: 80px;
}

#btn-menu-open {
  display: none;
 
  
}

#btn-menu-open > img {
  width: auto;
  height: 100%;
}
.conteudo {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: space-around;
  margin: 55px auto; /*margin vertical de 55px e horizontal de x o suficiente para alinhar o item ao centro/*
  padding-bottom: 55px; /*Espaçamento interno na parte inferior de 55px*/
  gap: 55px; /*Adição de um espaçamento entre os elementos filhos de 55px*/
}

.conteudo > section {
  /* Define que toda section filha direta de .conteudo terá esse estilo do escopo */
  min-height: 40vh;
  max-width: 64vw;
  height: auto;
  width: auto;
  /*Deixei altura e largura auto pra que se adapte quando o texto necessitar de mais espaço, limitando assim o máximo da largura que o quadro pode ter
  e o mínimo de altura que o quadro pode tem*/
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.8);
}

.title-conteudo-principal {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-left: 10px;
  padding-bottom: 0px;
}
.text-conteudo-principal {
  display: flex;
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0%;
  text-align: center;
}

/* Remoção de CSS que foi reduzido a uma classe generalizada no html */

/* .conteudo-principal-escrito-desenvolvimento {
  display: flex;
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0%;
  text-align: center;
} */
/* .conteudo-secundario {
  height: 60vh;
  width: 40vw;
  display: flex;
  margin-top: 55px;
  flex-direction: row;
  background-color: rgba(217, 217, 217, 0.8);
  margin-right: 100px;
  justify-content: flex-end;
} */
/* .conteudo-secundario-escrito-titulo {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #000000;
  padding-left: 24px;
  margin-bottom: 2%;
}
.conteudo-secundario-escrito-desenvolvimento {
  display: flex;
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  margin-top: 0%;
} */

@media only screen and (max-width: 600px) {
  #btn-menu-open {
    display: flex;
  }
  .cabeçalho-nav {
    display: none;
  }
  .cabeçalho {
    justify-content: space-between;
  }
}

